{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
  <h1>Books</h1>

<div class="row mb-3">
    <div class="col-4">
        <form class="d-flex" id="searchForm" action="{% url 'books:list' %}" method="get">
        <input type="text" id="searchInput" name="q" placeholder="Search" value="{{search_query}}">
        <button class="btn btn-danger" type="button" id="voiceButton"><i class="bi bi-mic"></i></button>
        <button class="btn btn-success" type="submit">Search</button>
    </form>

<script>
        const searchForm = document.getElementById('searchForm');
        const searchInput = document.getElementById('searchInput');
        const voiceButton = document.getElementById('voiceButton');

        voiceButton.addEventListener('click', () => {
            const recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition)();
            recognition.lang = 'en-EN';

            recognition.onstart = () => {
                console.log('Ovoz yozish boshlandi');
            };

            recognition.onend = () => {
                console.log('Ovoz yozish tugadi');
                searchForm.submit(); // Ovoz yozish tugagach, formani avtomatik jo'natish
            };

            recognition.onerror = (event) => {
                console.error('Xatolik:', event.error);
            };

            recognition.onresult = (event) => {
                const transcript = event.results[0][0].transcript;
                searchInput.value = transcript;
            };

            recognition.start();

            // 3 soniyadan keyin ovozni yozishni to'xtatish
            setTimeout(() => {
                recognition.stop();
            }, 3000);
        });
    </script>


<!--        <form class="d-flex" method="get" action="{% url 'books:list'%}">-->
<!--            {% csrf_token %}-->
<!--            <input name="q" type="text" id="searchInput" placeholder="Search">-->
<!--            <button id="searchButton">Qidirish</button>-->
<!--        </form>-->
<!--        <button class="btn btn-danger" id="voiceButton"><i class="bi bi-mic-fill"></i></button>-->
    </div>
</div>


{% if page_obj %}

{% for book in page_obj %}
    <div class="row mb-4">
        <div class="col-2 me-6">
           <img class="cover-pic" src="{{ book.cover_pic.url }}" alt="">
       </div>
        <div class="col-6 ms-4">
            <a class="book-title" href="{% url 'books:detail' book.id %}"><h3>{{ book.title }}</h3></a>
            <p>{{ book.description }}</p>
        </div>
    </div>
{% endfor %}

    <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      {% if page_obj.has_previous %}
      <a class="page-link" href="{% url 'books:list'%}?page={{page_obj.previous_page_number}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
      {% endif %}
    </li>
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
    <li class="page-item">
      {% if page_obj.has_next %}
      <a class="page-link" href="{% url 'books:list'%}?page={{page_obj.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
      {% endif %}
    </li>
  </ul>
</nav>

        {% else %}
            No books found.
        {% endif %}

{% endblock %}


